<a href="/users">All Users</a>

<h1>Hi <%= @user.name %>!</h1>

<h2>Here is your profile description:</h2>
<textarea cols="80" rows="5">

	<%= @user.description %>

</textarea>

<h3>Your Professional Network: </h3>
<div>
	<% @user.networkees.each do |net|%>
	<p><a href="/users/<%= net.id %>"><%= net.name %></a> <a href="/network/destroy/<%= net.id %>">Delete Friend</a></p>
	<% end %>
</div>

<h3>Invitations:</h3>

<p>The following people asked you to be in their network</p>
<table>
	<thead>
		<tr>
			<th> Name </th>
			<th> Action </th>
		</tr>
	</thead>
	<tbody>
		<% @invites.each do |inv| %>
		<tr>
			<td><a href="/users/<%= inv.user.id %>"><%= inv.user.name %></a></td>
			<td><a href="/invite/accept/<%= inv.user.id %>">Accept Invite</a> <a href="/invite/destroy/<%= inv.user.id %>">Ignore</a></td>
		</tr>
		<% end %>
	</tbody>
</table>
