<!DOCTYPE html>
<html>
<head>
  <title>ProfessionalNetwork</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
  <a href="/logout" data-method="delete">Log Out</a>
    <!-- <form action='/logout' method='post'>
      <input type='hidden' name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type='hidden' name='_method' value='delete'>
      <button type="submit">Log Out</button>
    </form> -->
  <% end %>

  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <p><%= error %></p>
    <% end %>
  <% end %>

  <% if flash[:success] %>
      <%= flash[:success] %>
  <% end %>
<%= yield %>

</body>
</html>
